@import '../theme.css';

.react-aria-ProgressBar.progress-circle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
}

.react-aria-ProgressBar.progress-circle svg {
  width: 100%;
  height: 100%;
  animation: rac-spin 1s linear infinite;
  transform-origin: center;
}

.react-aria-ProgressBar.progress-circle circle.track {
  stroke: var(--highlight-hover);
}

.react-aria-ProgressBar.progress-circle circle.fill {
  stroke: currentColor;
  stroke-dasharray: 60 100;
  stroke-linecap: round;
}

@keyframes rac-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
